.frame-landing-page-frame-landing-page {
    width: 100%;
    height: 2119px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .frame-landing-page-rectangle12 {
    top: 1177px;
    left: 105px;
    width: 1014px;
    height: 282px;
    position: absolute;
    border-color: transparent;
    border-radius: 22px;
  }
  .frame-landing-page-rectangle11 {
    top: 670px;
    left: -98px;
    width: 1471px;
    height: 359px;
    position: absolute;
    border-color: transparent;
    border-radius: 22px;
  }
  .frame-landing-page-rectangle10 {
    top: 1552px;
    left: 257px;
    width: 1200px;
    height: 335px;
    position: absolute;
  }
  .frame-landing-page-button {
    top: 18px;
    left: 1247px;
    width: 155px;
    height: 31px;
    display: flex;
    padding: 11px 78px 16px 80px;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 999px;
    justify-content: center;
    background-color: rgba(19, 58, 46, 1);
  }
  .frame-landing-page-text {
    color: rgba(255, 255, 255, 1);
    width: 95px;
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Tiro Bangla;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame-landing-page-text02 {
    top: 12px;
    left: 38px;
    color: rgba(19, 58, 46, 1);
    width: 185px;
    height: auto;
    position: absolute;
    font-size: 40px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Tiro Bangla;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame-landing-page-text04 {
    top: 21px;
    left: 1014px;
    color: rgba(0, 0, 0, 1);
    width: 105px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Tiro Bangla;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame-landing-page-text06 {
    top: 21px;
    left: 1136px;
    color: rgba(0, 0, 0, 1);
    width: 95px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Tiro Bangla;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame-landing-page-rectangle2 {
    top: 2042px;
    left: 0px;
    width: 1440px;
    height: 77px;
    position: absolute;
    border-color: transparent;
  }
  .frame-landing-page-text08 {
    top: 21px;
    left: 866px;
    color: rgba(0, 0, 0, 1);
    width: 132px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Tiro Bangla;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame-landing-page-text13 {
    top: 1574px;
    left: 301px;
    color: rgba(20, 58, 47, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Tiro Bangla;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame-landing-page-text15 {
    top: 1104px;
    left: 875px;
    color: rgba(20, 58, 47, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Tiro Bangla;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame-landing-page-ivannedelchev5qa-upix-br-uunsplash2 {
    top: 760px;
    left: 160px;
    width: 482px;
    height: 317px;
    position: absolute;
    box-sizing: content-box;
    border-color: rgba(20, 58, 47, 1);
    border-style: solid;
    border-width: 4px;
    border-radius: 6px;
  }
  .frame-landing-page-ivannedelchev5qa-upix-br-uunsplash1 {
    top: 746px;
    left: 139px;
    width: 482px;
    height: 317px;
    position: absolute;
    box-sizing: content-box;
    border-color: rgba(20, 58, 47, 1);
    border-style: solid;
    border-width: 4px;
    border-radius: 6px;
  }
  .frame-landing-page-text17 {
    top: 2066px;
    left: 688px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Tiro Bangla;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame-landing-page-text19 {
    top: 2069px;
    left: 1207px;
    color: rgba(255, 255, 255, 1);
    width: 241px;
    height: auto;
    position: absolute;
    font-size: 20px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Tiro Bangla;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame-landing-page-rectangle9 {
    top: 0px;
    left: 0px;
    width: 1px;
    height: 1px;
    position: absolute;
    border-color: transparent;
  }
  .frame-landing-page-text21 {
    top: 2073px;
    left: 60px;
    color: rgba(255, 255, 255, 1);
    width: 197px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Tiro Bangla;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame-landing-page-image6898f32d68aa45baaee861dddb1560041 {
    top: 131px;
    left: 140px;
    width: 1160px;
    height: 479px;
    position: absolute;
    box-sizing: content-box;
    border-color: rgba(20, 58, 47, 1);
    border-style: solid;
    border-width: 4px;
  }
  .frame-landing-page-text23 {
    top: 697px;
    left: 257px;
    color: rgba(20, 58, 47, 1);
    width: 409px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Tiro Bangla;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame-landing-page-ivannedelchev5qa-upix-br-uunsplash3 {
    top: 1167px;
    left: 824px;
    width: 482px;
    height: 317px;
    position: absolute;
    box-sizing: content-box;
    border-color: rgba(20, 58, 47, 1);
    border-style: solid;
    border-width: 4px;
    border-radius: 6px;
  }
  .frame-landing-page-image21 {
    top: 1146px;
    left: 840px;
    width: 482px;
    height: 318px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 4px;
    border-radius: 6px;
  }
  .frame-landing-page-ivannedelchev5qa-upix-br-uunsplash4 {
    top: 1652px;
    left: 150px;
    width: 482px;
    height: 317px;
    position: absolute;
    box-sizing: content-box;
    border-color: rgba(20, 58, 47, 1);
    border-style: solid;
    border-width: 4px;
    border-radius: 6px;
  }
  .frame-landing-page-rafaelcisnerosmendezy5pg-zec-x-iunsplash1 {
    top: 1638px;
    left: 139px;
    width: 481px;
    height: 317px;
    position: absolute;
    border-color: rgba(20, 58, 47, 1);
    border-style: solid;
    border-width: 4px;
    border-radius: 6px;
  }
  .frame-landing-page-text28 {
    top: 754px;
    left: 676px;
    color: rgba(0, 0, 0, 1);
    width: 659px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Tiro Bangla;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame-landing-page-text33 {
    top: 1246px;
    left: 150px;
    color: rgba(0, 0, 0, 1);
    width: 597px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Tiro Bangla;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame-landing-page-text38 {
    top: 1638px;
    left: 676px;
    color: rgba(0, 0, 0, 1);
    width: 632px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Tiro Bangla;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .frame-landing-page-rectangle3 {
    top: 4px;
    left: 191px;
    width: 663px;
    height: 84px;
    position: absolute;
    border-color: transparent;
    border-radius: 92px;
  }
  .frame-landing-page-rectangle4 {
    top: 39px;
    left: 214px;
    width: 309px;
    height: 22px;
    position: absolute;
  }
  .frame-landing-page-small-buttonfalse {
    top: 39px;
    left: 580px;
    width: 91px;
    height: 19px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    justify-content: center;
  }
  .frame-landing-page-button1 {
    top: 41px;
    left: 540px;
    width: 91px;
    height: 18px;
    display: flex;
    padding: 11px 18px;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 999px;
    justify-content: center;
    background-color: rgba(43, 46, 74, 1);
  }
  .frame-landing-page-text40 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 14px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Lato;
    font-weight: 700;
    line-height: 100%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  